body { 
    margin:0; 
    padding: 0;
   
    background-color: #ffffff; 

}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
}

        nav {
            width: 625px;
            height: 40px;

            padding-top: 15px;
            background-color: #2070b7;
            position: absolute;
            margin-left: 360px;
            margin-bottom: center;
            margin-top: 4px;
        }
    
        nav ul {
            list-style: none;
            margin: 0;
            padding: 4px
        }
    
        nav ul li {
            padding-top: -5px;
            padding-left: 40px;
            margin-left: -40px;
            font-size: 20px;
            display: inline-block;
        }
    
        nav ul li a {
            font-size: 0.85em;
            text-decoration: none;
            color: #f0f0f0;
            padding: 4px 20px;
            text-align: center;
        }
    
        nav ul li a:hover {
            background-color: #005485;
        }

        header {
        position: fixed;
        width:100%;
        height:67px;
        background-color:#2071b7;
        position: fixed;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    
}

header #login {
    width: 100%;
    height: 67px;
   

}

div#header_central {
    position: fixed;
    width:800px;
    height:55px;
    margin:0 auto;
    margin-bottom: 2px;
    
}

div#header_inicial {
    position: fixed;
    width: 800px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 2px;

}


div#header_central img {
    margin-top:0px;   
}

div#header_inicial img {
    margin-top: 0px;
}

div#header_saudacao {
    width: 155px;
    background-image: url(../_assets/icons8-exit-16.png);
    background-repeat: no-repeat;
    background-position: 113px 30px;
    position: absolute;
    top:0;
    right:25px;
    padding: 15px;
    padding-right: -30px;
    padding-left: -20px;
    margin-left: -0px;
    margin-right: -545px;
    text-align: center;
}

div#header_saudacaoinicial {
    background-image: url(../_assets/icons8-exit-16.png);
    background-repeat: no-repeat;
    background-position: 207px 30px;
    position: absolute;
    top: 0;
    right: 30px;
    padding: 15px;
    padding-right: -30px;
    padding-left: -20px;
    margin-left: -0px;
    margin-right: -545px;
    text-align: right;
}

div#header_saudacao h5 {
    height: 30px;
    width: 160px;
    background-image: url(../_assets/icons8-usuário-16-1.png);
    background-repeat: no-repeat;
    background-position: -2px 0px;
    font-family: sans-serif;
    font-size: 12.5px;
    font-weight: 100;
    margin:2px 0 0 0;
    padding:auto; 
    text-align: center;
    inline-size: auto;
    color: #f1f1f1;
}

div#header_saudacaoinicial h5 {
    font-family: sans-serif;
    font-size: 12.5px;
    font-weight: 100;
    margin: 2px 0 0 0;
    padding: auto;
    text-align: right;
    color: #f1f1f1;
}

div#header_saudacao a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#ff0000;
    padding-left: 18px;
}

div#header_saudacaoinicial a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff0000;
    padding-left: 18px;
}

main {
    width:900px;
    min-height: 560px;
    padding:20px 0;
    margin:0 auto;
}

footer {
    position:fixed;
    bottom: 0;
    clear: both;
    width:100%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: -30px;
    border-top:1px solid #858585;
}

div#footer_central {
    width:800px;
    margin:0 auto;
}

div#footer_central p {
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
    color: #050505;
}

div#footer_login p {
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
    color: #d8d8d8;
}

.logo {
    position:absolute;
    margin-left: auto;
    margin-top: auto;
    background-image: 100%;
}

main div#pm4r img{
    margin-left: 400px;
    width: 700px;
    margin-top: 48px;
    border-radius: 3px;
}

main div.texto1 h1{
    position: absolute;
    text-shadow: 0.1em -0em 0.6em rgb(230, 230, 230);
    top: 100px;
    left: 50px;
    font-family: apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";;
        color: #2070b7;
        font-style: italic;
        letter-spacing: -0.05em;
        
}

main div.texto2 h3 p {
   position: absolute;
text-shadow: 0.1em 0.1em 0.3em rgb(230, 230, 230);
    text-align: center;
    font-size: 20px;
    top: 150px;
    left: 50px;
    font-family: apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    ;
    color: #2070b7;
    font-style: italic;
    letter-spacing: -0.05em;

}

