body { 
    margin:0; 
    padding: 0;
    background-color: #fafafa; 
    min-height: 100px;
    max-height: 1500px;

}


/*--Home--*/
div.home {
    height: 1250px;
    margin: 0;
    padding: 0;
    min-height: 400px;
    max-height: 1500px;
}

/*--Fim Home--*/
/**--Slides inicial--**/
.slider_home {
    position: absolute;
    left: 4%;
    top:23.5%;
    margin: 0 auto;
    width: 800px;
    height: 500px;
    padding: 0;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
}
/**--Fim Slides Inicial--**/

/**--Slides Serviços--**/
.slider_servicos {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    margin-left: 30px;
    margin-top: 100px;
    overflow: hidden;
    border-radius: 2px;
    border: 1.5px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
}
/**--Fim Slides Serviços--**/

/**--Programas--**/
div#programas {
    background-color: rgba(233, 233, 233, 0.288);
    width: 650px;
    height: 320px;
    position: absolute;
    top: 90px;
    left: 245px;
    
}
/**-- Fim Programas--**/

/**--Serviços/info servidores-redes--**/
div#redes_servidores {
    border-radius: 8px;
    position: absolute;
    box-shadow: 1px 0.5px 0.7px 0.7px rgba(0, 0, 0, 0.2);
    top: 680px;
    left: 245px;
    width: 810px;
    height: 170px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
}

div#redes_servidores h2 p {
    position: absolute;
    color: #252525;
    left: 20px;
    top: -5px;
    font-family: apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
            font-size: 20px;
}
div#redes_servidores h3 p {
    position: absolute;
    color: #252525;
    left: 20px;
    top: 70px;
    font-family: apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
            font-size: 20px;
}


div#redes_servidores h2 button {
    position: absolute;
    color: #00488b;
    height: 30px;
    top: 25px;
    left: 600px;
    padding-left: 7px;
    padding-right: 6px;
    border-radius: 5px;
    border-color: #0026a1;
    background-color: #d8d8d8;
    font-family: apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
            font-size: 18px;
            cursor: pointer;
            transform: scale(1.1);
                transition: all 0.5s;
}
div#redes_servidores h3 button {
    position: absolute;
    color: #00488b;
    height: 30px;
    top: 110px;
    left: 600px;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-color: #0026a1;
    background-color: #d8d8d8;
    font-family: apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
            font-size: 18px;
            cursor: pointer;
            transform: scale(1.1);
                transition: all 0.5s;
}

div#redes_servidores h2 button:hover {
    background-color:#0062be63;
}
div#redes_servidores h3 button:hover {
    background-color:#0062be63;
}

/**--Fim Serviços/info servidores-redes--**/
main img.download {
    position: absolute;
    top: 105px;
    right: 2px;
}

main img.cada_produtos {
    position: absolute;
    bottom: -110px;
    left: 48px;
}
main img.produtos {
    position: relative;
    top: 80px;
    right: 20%;
}
/**--Serviços/info instalaçao programas--**/
div#inst_programas {
    border-radius: 8px;
    position: absolute;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    top: 900px;
    left: 245px;
    width: 810px;
    height: 170px;
    background-color: rgba(233, 233, 233, 0.288);
}

div#inst_programas h2 p {
    position: absolute;
    color: #252525;
    left: 20px;
    top: -5px;
    font-family: apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
            font-size: 20px;
}
div#inst_programas h3 p {
    position: absolute;
    color: #252525;
    left: 20px;
    top: 85px;
    font-family: apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
            font-size: 20px;
}


div#inst_programas h2 button {
    position: absolute;
    color: #00488b;
    height: 30px;
    top: 25px;
    left: 600px;
    padding-left: 7px;
    padding-right: 6px;
    border-radius: 5px;
    border-color: #0026a1;
    background-color: #d8d8d8;
    font-family: apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
            font-size: 18px;
            cursor: pointer;
            transform: scale(1.1);
                transition: all 0.5s;
}
div#inst_programas h3 button {
    position: absolute;
    color: #00488b;
    height: 30px;
    top: 110px;
    left: 600px;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-color: #0026a1;
    background-color: #d8d8d8;
    font-family: apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
            font-size: 18px;
            cursor: pointer;
            transform: scale(1.1);
                transition: all 0.5s;
}

div#inst_programas h2 button:hover {
    background-color:#0062be63;
}
div#inst_programas h3 button:hover {
    background-color:#0062be63;
}
/**--Fim Serviços/info instalaçao programas--**/


/**--Slides--**/
.slides {
    width: 400%;
    height: 500px;
    display: flex;
    }

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: relative;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .08s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}

.navigation-auto{
    position:absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}
/**--Fim Slides--**/

/**--barra navegação topo--**/
        nav {
            width: 600px;
            height: 40px;

            padding-top: 15px;
            background-color: #2070b7;
            position: absolute;
            left: 11.5cm;
            margin-bottom: center;
            margin-top: 4px;
        }
    
        nav ul {
            width: 600px;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav ul {
            list-style-type: none;
        }
    
        nav ul li {
            position: relative;
            font-size: 20px;
            display:inline;
        }
        

        
        nav ul li a {
            font-size: 0.85em;
            text-decoration: none;
            display: inline-block;
            color: #f0f0f0;
            padding: 5px 30px;
            text-align: center;
        }
    
        nav ul li a:hover {
            background-color: #005485;
        }
        nav ul li a img{
           position: relative;
            top: 5px;
            left:3px;
        }
        /* sub-menu */
        nav ul ul {
            display: none;
            left: 0px;
            position: absolute;
            border-radius: 1px;
            
        }
        
        nav ul li:hover ul {
            background-color: #366d9c;
        }

        nav ul ul {
            width: 140.8px;
        }

        nav ul ul li a {
            display: block;
            color: #f8f8f8;
            background-color: #2070b7;
            border-radius: 1px;
           
        }
/**--Fim barra navegação topo--**/

/**--cabeçalho--**/
        header {
        position: fixed;
        width:100%;
        height:67px;
        background-color:#2071b7;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
        z-index: 9;
}

header #login {
    width: 100%;
    height: 67px;
   

}

div#header_central {
    position: fixed;
    width:800px;
    height:55px;
    margin:0 auto;
    margin-bottom: 2px;
    
}


div#header_inicial {
    position: fixed;
    width: 800px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 2px;

}


div#header_central img {
    margin-top:0px;   
}

div#header_inicial img {
    margin-top: 0px;
}
/**--saudação--**/
div#header_saudacao {
    width: 155px;
    background-image: url(../_assets/icons8-exit-16.png);
    background-repeat: no-repeat;
    background-position: 113px 30px;
    position: absolute;
    top:0;
    right:25px;
    padding: 15px;
    padding-right: -30px;
    padding-left: -20px;
    margin-left: -0px;
    margin-right: -545px;
    text-align: center;
}

div#header_saudacaoinicial {
    background-image: url(../_assets/icons8-exit-16.png);
    background-repeat: no-repeat;
    background-position: 207px 30px;
    position: absolute;
    top: 0;
    right: 30px;
    padding: 15px;
    padding-right: -30px;
    padding-left: -20px;
    margin-left: -0px;
    margin-right: -545px;
    text-align: right;
}

div#header_saudacao h5 {
    height: 30px;
    width: 160px;
    background-image: url(../_assets/icons8-usuário-16-1.png);
    background-repeat: no-repeat;
    background-position: -2px 0px;
    font-family: sans-serif;
    font-size: 12.5px;
    font-weight: 100;
    margin:2px 0 0 0;
    padding:auto; 
    text-align: center;
    inline-size: auto;
    color: #f1f1f1;
}

div#header_saudacaoinicial h5 {
    font-family: sans-serif;
    font-size: 12.5px;
    font-weight: 100;
    margin: 2px 0 0 0;
    padding: auto;
    text-align: right;
    color: #f1f1f1;
}

div#header_saudacao a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#ff0000;
    padding-left: 18px;
}

div#header_saudacaoinicial a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff0000;
    padding-left: 18px;
}
/**--Fim saudação--**/
/**--Fim cabeçalho--**/

/**--conteudo--**/
main {
    width:900px;
    
    padding:20px;
    margin:0 auto;
    min-height: 600px;
    max-height: 1500px;
}

/**--rodapé--**/
footer {
    position: relative;
    top: 60px;
    bottom: auto;
    clear: both;
    width:100%;
    margin: 0 auto;
    height: 45px;
    border-top:1px solid #525252;
}

div#footer_central {
    width:800px;
    margin:0 auto;
}

div#footer_central p {
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
    color: #050505;
}

div#footer_login p {
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
    color: #d8d8d8;
}
/**--Fim rodapé--**/

.logo {
    position:absolute;
    margin-left: auto;
    margin-top: auto;
    background-image: 100%;
}

main div#pm4r img{
    margin-left: 200px;
    width: 600px;
    margin-top: 48px;
    border-radius: 3px;
}


main div.texto1 h2 p {
   position: absolute;
text-shadow: 0.1em 0.1em 0.3em rgb(230, 230, 230);
    text-align: center;
    font-size: 20px;
    top: 100px;
    left: 50px;
    font-family: apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    ;
    color: #2070b7;
    font-style: italic;
    letter-spacing: -0.05em;

}

main div#texto2 h3 p {
    position: absolute;
    text-shadow: 0.1em 0.1em 0.3em rgb(230, 230, 230);
    text-align: center;
    font-size: 20px;
    top: 470px;
    left: 50px;
    font-family: apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    ;
    color: #2070b7;
    font-style: italic;
    letter-spacing: -0.05em;

}


main div#sobre {
    height: 1000px;
}
main div#servicos {
    height: 1000px;
}

main div#filtro_produto {
    position:absolute;
    left: 25px;
    width: 170px;
    height: 40px;
    box-shadow:0.1em 0.1em 0.05em rgb(230, 230, 230);
    margin-right: 50px;
    padding-left: 20px;
    text-align: center;
    background-color: rgba(209, 208, 208, 0.5);
    border-top-right-radius: 5px;
}

main div#filtro_produto form {
    position: absolute;
    left: 15px;
    top: 15px;
}

main div#filtro_produto form#gab {
    position:absolute;
    top: 15px;
}
main div#filtro_produto form#mon {
    position:absolute;
    top: 35px;
}
main div#filtro_produto form#mou {
    position:absolute;
    top: 55px;
}
main div#filtro_produto form#pla {
    position:absolute;
    top: 75px;
}
main div#filtro_produto form#ser {
    position:absolute;
    top: 95px;
}

main div#borda_filtro {
    position: absolute;
    left: -0.2px;
    top: 38px;
    box-shadow: 0.15em 0.1em 0.06em rgb(230, 230, 230);
    background-color: #ffffff;
    width: 190.5px;
    height: 150px;
}

main div#filtro_produto h1 p {
    bottom: 137px;
    left: 20px;
    position: absolute;
    color: rgb(48, 48, 48);
    font-family: apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
        font-size: 21px;
        
}


/*--Programas--*/
/*--Card--*/
.card {
    position: relative;
    top: 78px;
    left: 88%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

h5.card-title {
    margin-bottom: 0.5rem;
    margin-top: 0;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
        font-size: 1.25rem;
}
.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link+.card-link {
    margin-left: 1.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-deck .card {
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .card-deck .card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
    }
}

.card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-group>.card {
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    .card-group {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .card-group>.card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-bottom: 0;
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }

    .card-group>.card:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-group>.card:first-child .card-img-top,
    .card-group>.card:first-child .card-header {
        border-top-right-radius: 0;
    }

    .card-group>.card:first-child .card-img-bottom,
    .card-group>.card:first-child .card-footer {
        border-bottom-right-radius: 0;
    }

    .card-group>.card:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-group>.card:last-child .card-img-top,
    .card-group>.card:last-child .card-header {
        border-top-left-radius: 0;
    }

    .card-group>.card:last-child .card-img-bottom,
    .card-group>.card:last-child .card-footer {
        border-bottom-left-radius: 0;
    }

    .card-group>.card:only-child {
        border-radius: 0.25rem;
    }

    .card-group>.card:only-child .card-img-top,
    .card-group>.card:only-child .card-header {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .card-group>.card:only-child .card-img-bottom,
    .card-group>.card:only-child .card-footer {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
        border-radius: 0;
    }

    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
        border-radius: 0;
    }
}

.card-columns .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}

.accordion .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0;
}

.accordion .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion .card:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*--Fim Card--*/

div.cadastro_produtos {
    position: relative;
    left: -170px;
    bottom: -185px;
    background-color: rgba(255, 255, 255, 0.938);
    width: 570px;
    height: 150px;
    background-image: url("../_assets/gradiente-de-fundo-abstrato-azul-e-branco-400-109806180.jpg");
        background-position: -10px -10px;
    border: 0.5px solid rgba(0, 0, 0, 0.219);
        border-radius: 0.25rem;
}
div.cadastro_produtos h1{
    margin-left: 9px;
    font-family:'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    font-size: 24px;
    color: #ffd900;
    text-shadow: -0.6px 1px 0px #050505;
}

div.cadastro_produtos img#form1 {
    position: relative;
    left: 9.5cm;
    bottom: 1.4cm;
    width: 140px;
    height: 120px;
}

img#sobre {
    position: relative;
    bottom: 0.45cm;
    left: 19.8cm;
}

div.sobre {
    position: relative;
    bottom: 0.6cm;
    left: 20.7cm;
    width:230px;
    padding-left: 0.4cm;
    padding-right: 0.4cm;
    height: 9cm;
    background-image: url("../_assets/question-background.png");
    background-position: 70px -160px;
        border: 0.5px solid rgba(0, 0, 0, 0.219);
        border-radius: 0.25rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 18px;
            color: #ffeb3b;
            text-shadow: -0.6px 1px 0px #050505;
}

img#contato {
    position: relative;
    left: 20cm;
    bottom: 0.2cm;
}

div.contato {
    position: relative;
    left: 48.8em;
    bottom: 0.3cm;
    width: 16.6em;
    height: 10em;
    background-color: #e6e6e6c9;
    border: 0.5px solid rgba(0, 0, 0, 0.219);
    border-radius: 0.25rem;
}
div.contato h4 {
    margin-left: 0.6em;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*--Fim Programas--*/
/**--Fim conteudo--**/