/* estilos da pesquisa */
main div#janela_pesquisa {
    width:860px;
    height: 50px;
    margin:0 auto 30px;
    border-bottom:1px dotted #ddd;
    margin-top: 70px;
}

main div#janela_pesquisa form {
    width:470px;
    margin:10px auto;
}

main div#janela_pesquisa form input[type="text"] {
    width:340px;
    padding:9px;
    border:1px solid #afafaf;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float:left;
    outline: none;
}

main div#janela_pesquisa a {
    position: relative;
    color: inherit;
    left: 110px;
    top: -40px;
    text-align: left;
}

main div#janela_pesquisa form input[type="image"] {
    outline: none;
    cursor: pointer;
}
/* fim do estilo da pesquisa */